<footer>
    <div class="empty"></div>

    <div class="footerText">
        <div>
            <p class="semibold">Collections :</p>
            <p><a href="#">Casual</a></p>
            <p><a href="#">Exentrique</a></p>
            <p><a href="#">Les Basiques</a></p>
        </div>
        <div>
            <p class="semibold">Restez connectés :</p>
            <p><a routerLink="/journal">Les Ah-Bas !</a></p>
            <p><a href="#">Notre Newsletter :</a></p>
            <form>
                <input class="barreEmail" type="email" name="email" placeholder="Email">
                <input class="boutton" type="submit">
            </form>
        </div>
        <div>
            <p class="semibold">La marque :</p>
            <p><a routerLink="/propos">A propos</a></p>
            <p><a routerLink="/politique">Politique de confidentialité</a></p>
            <p><a routerLink="/mention">Mentions légales</a></p>
            <p><a routerLink="/cgv">Conditions générales de ventes</a></p>
        </div>
        <div>
            <p class="semibold">Ou nous contacter :</p>
            <p><a routerLink="/contact">Contact</a></p>
            <p class="semibold">Nos résaux :</p>
            <img src="src/assets/img/reseaux/facebook.png" alt="facebook">
            <img src="src/assets/img/reseaux/instagram.png" alt="instagram">
            <img src="src/assets/img/reseaux/tiktok.png" alt="tiktok">
            <img src="src/assets/img/reseaux/twitter.png" alt="twitter">
        </div>
    </div>
</footer>
