
/* header */
header {
    width: 100%;
    height: 957px;
   
    position: relative;
}

.barreHeader {
    width: min(1240px,80%);
    background-color: var(--color-bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    right: 10%;
    top: 75px;
}

.navLink {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logoAhBas {
    height: 75px;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: var(--color-text);
}

.barreHeader nav a, .iconHeader a {
    margin: 0 5px;
}


.iconHeader img {
    height: 47px;
    width: 47px;
}



