  <header>

    <div class="barreHeader">

        <a routerLink=""><img id="logoAhBas" src="assets/img/vraiLogo.png" alt="logo du site"></a>

        <div class="navLink">
            <nav>
                <a routerLink="/">Accueil</a>
                <a routerLink="/categorie">Collection</a>
                <a routerLink="/propos">A propos</a>
                <a routerLink="/journal">Les Ah-Bah!</a>
            </nav>

            <div class="iconHeader">
                <a routerLink=""><img src="assets/img/icon/gens.png" alt="icone du compte"></a>
                <a routerLink="/panier" title="Mon panier"><img src="assets/img/icon/panier.png" alt="icone panier"></a>
                <a routerLink=""><img src="assets/img/icon/loupe.png" alt="icone rechercher"></a>
            </div>
        </div>
        

        <!-- <div class="menuBurger">
            <span class="barre1"></span>
            <span class="barre2"></span>
            <span class="barre3"></span>
        </div> -->

    </div>

</header>
