<!-- <form [formGroup]="paiementForm">
    
    Livraison
    <div>
        <label for="contact_email">*Email</label>
        <input type="text" id="contact_email" formControlName="contact_email" [class.error]="validationError.includes('contact_email')">
    </div>
    <div>
        <label for="delivery_firstname">*Prénom</label>
        <input type="text" id="delivery_firstname" formControlName="delivery_firstname" [class.error]="validationError.includes('delivery_firstname')">
    </div>
    <div>
        <label for="delivery_name">*Nom</label>
        <input type="text" id="delivery_name" formControlName="delivery_name" [class.error]="validationError.includes('delivery_name')">
    </div>
    <div>
        <label for="delivery_country">*Pays / Région</label>
        <input type="text" id="delivery_country" formControlName="delivery_country" [class.error]="validationError.includes('delivery_country')">
    </div>
    <div>
        <label for="delivery_street">*Adresse</label>
        <input type="text" id="delivery_street" formControlName="delivery_street" [class.error]="validationError.includes('delivery_street')">
    </div>

     <div>
        <label for="delivery_postcode">*Code Postal</label>
        <input type="text" id="delivery_postcode" formControlName="delivery_postcode" [class.error]="validationError.includes('delivery_postcode')">
    </div>
    <div>
        <label for="delivery_city">*Ville</label>
        <input type="text" id="delivery_city" formControlName="delivery_city" [class.error]="validationError.includes('delivery_city')">
    </div>
    <div>
        <label for="delivery_phone">*Téléphone</label>
        <input type="text" id="delivery_phone" formControlName="delivery_phone" [class.error]="validationError.includes('delivery_phone')">
    </div>

    CB
    <div>
        <label for="card_number">*Numéro de la carte</label>
        <input type="text" id="card_number" formControlName="card_number" [class.error]="validationError.includes('card_number')">
    </div>
    <div>
        <label for="card_userName">*Titulaire de la carte</label>
        <input type="text" id="card_userName" formControlName="card_userName" [class.error]="validationError.includes('card_userName')">
    </div>
    <div>
        <label for="card_expiration">*Date d'éxpiration</label>
        <input type="text" id="card_expiration" formControlName="card_expiration" [class.error]="validationError.includes('card_expiration')">
    </div>
    <div>
        <label for="card_cvv">*Cryptogramme</label>
        <input type="text" id="card_cvv" formControlName="card_cvv" [class.error]="validationError.includes('card_cvv')">
    </div>

    <button type="submit" (click)="pay()">Procéder au paiement</button>
</form> -->
