<div class="image-details">


    <!-- <button *ngFor="let detail for detail"><img class="photo-des" src="{{detail?.detailphoto1}}" alt="photo-des"></button> -->
    <button (click)="1"><img class="photo-des" src="{{detail?.detailphoto1}}" alt="photo-des"></button>
    <button (click)="2"><img class="photo-des" src="{{detail?.detailphoto2}}" alt="photo-des1"></button>
    <button (click)="3"><img class="photo-des" src="{{detail?.detailphoto3}}" alt="photo-des2"></button>
    <button (click)="4"><img class="photo-des" src="{{detail?.detailphoto4}}" alt="photo-des3"></button>

    <!-- <button *ngFor="let detail for detail"><img class="photo-des" src="{{detail?.detailphoto1}}" alt="photo-des"></button> -->
    <!-- <button (click)="1"><img class="photo-des" src="{{detail?.detailphoto1}}" alt="photo-des"></button>
    <button (click)="2"><img class="photo-des" src="{{detail?.detailphoto2}}" alt="photo-des1"></button>
    <button (click)="3"><img class="photo-des" src="{{detail?.detailphoto3}}" alt="photo-des2"></button>
    <button (click)="4"><img class="photo-des" src="{{detail?.detailphoto4}}" alt="photo-des3"></button> -->
</div>