<app-header></app-header>

<main>
    <img class="entete" src="assets/img/img-page-category-details/entete.png" alt="img-tete">
    <ul>

        


        <li *ngFor="let item of products">
            <article class="image-container grid">
                <a routerLink="product-details/{{item.id}}"><img class="product-details" src="{{item.image}}" alt="img de produits"></a>
                <div class="img-description">
                    <a routerLink="/product-details/{{item.id}}">
                        <h3>{{item.productName}}</h3>
                        <p>{{item.description}}</p>
                        <br>
                        <p>{{item.price}} €
                        <br>
                    </a>
                    <button>Ajouter au panier</button>
                </div>
            </article>
        </li>
    </ul>
</main>
