/* You can add global styles to this file, and also import other style files */
:root {
    --color-bg: #FFF0EB;
    --color-footer: #EBD4D1;
    --color-footer2: #DFBDB9;
    --color-text: #61504B;
    --color-clair: #FFF9F6;
}
